body {
	font-size: 100%;
	max-width: 60em;
	background-color: white;
/*	font-family: sans-serif;
	font-family: 'Roboto', sans-serif;*/
    font-family: 'Lato' sans-serif;
}

.resume {
	margin-left: auto;
	margin-right: auto;
	padding: 0;

}

.resume section {
	margin: 1em;
	padding: 1em;
	background-color:  #F8F8F8;
	border: 1px solid gainsboro;
	font: 1.1em sans-serif;
	text-align: left;
	line-height: 1.5em;
	color: #8c8c8c;
}

.resume h1, .resume  h2, .resume h3 {
	font-weight: 100;
	margin-bottom: 0;
}

.resume h1 {
	font-size: 1.625em;
	text-align: center;
}

.resume h2 {
	font-size: 1.125em;
	font-weight: bold;
}

.resume h3 {
	font-size: 1em;
	font-weight: 400;
}

.resume ul li {
	font-size: .95em;
	font-weight: 100;
	list-style-type: circle;
	margin-bottom: .5em;
}

.header {
	text-align: center;
	font-size: .95em;
    letter-spacing: .125em;
    margin: .5em 0;
    width: 100%;
    background-color: white;
}

p {
	font-size: 1.125em;
    font-weight: 200;
}

table {
	width: 100%;
}

th, td {
    padding: 5px;
    text-align: left;
}

table, th, td {
	border: 1px solid gainsboro;
    border-collapse: collapse;
}

td, th {
	font-size: .95em;
	font-weight: 100;
}

a {
	color: #2da2c5;
}

a:hover {
	color: #8c8c8c;
}

@media only screen and (min-width: 960px) {
	.resume {
		width: 70%;
	}
}

/*Media Queries for Mobile*/
@media (min-width: 320px) and (max-width: 568px) {
	body {
		font-size: 102%;
	}
	.resume section {
		width: 90%;
    	margin: auto auto 1em;
    	padding: 1em;
	}

	.bull {
		display: none;
	}
}